.logo-carousel {
	width: 100%;
	overflow: hidden;
	margin-bottom: 20px;
}
.logo-track img{
	height: 50px;
	margin: 0 40px;
}
.logo-track {
	display: flex;
	width: max-content;
	min-width: 100%;
	margin: 15px 0;
}
#logoRight{
	animation: scrollLeftToRight 30s linear infinite;
}
@keyframes scrollLeftToRight {
	from {
		transform: translateX(-50%);
	}
	to {
		transform: translateX(0);
	}
}
#logoLeft{
	animation: scrollRightToLeft 30s linear infinite;
}
@keyframes scrollRightToLeft {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-50%);
	}
}
